@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  @import "daisyui";
}
body {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}
